<footer>
    <div class="footer-content container">
        <aside class="brand-info">
            <div class="logo">
                <div class="logo-icon">
                    <img src="/img/favicon_io/favicon.ico" alt="" />
                </div>
                <div class="logo-text">RimuHub</div>
            </div>
            <p>Copyright RimuHub. Todos os direitos reservados.</p>
        </aside>
        <aside class="social-media">
            <h3>Contato</h3>
            <div class="social-links">
                <a href="https://www.instagram.com/lucastoni0101/" target="_blank" rel="noopener noreferrer"
                    style="--i: #DD2A7B;">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://wa.me/5527995760553" target="_blank" rel="noopener noreferrer" style="--i: #25D366;">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://github.com/lucastonidev" target="_blank" rel="noopener noreferrer"
                    style="--i: #171515;">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </aside>
    </div>
</footer>

</body>

</html>