<header>
    <div class="container">
        <div class="header-content">
            <div class="menu-mobile-container">
                <div class="logo">
                    <div class="logo-icon">
                        <img src="/img/favicon_io/favicon.ico" alt="" />
                    </div>
                    <div class="logo-text">RimuHub</div>
                </div>
                <div class="menu-mobile-icon">
                    <i class="fa-solid fa-bars" id="btn-menu-mobile"></i>
                </div>
            </div>
            <nav id="navbar">
                <ul>
                    <li><a href="/" class="active">Início</a></li>
                    <li>
                        <a href="/add">Adicionar</a>
                    </li>
                    <li>
                        <a href="/vizualize">vizualizar</a>
                    </li>
                    <li><a href="/config">Configurações</a></li>
                    <li><a href="/help">Como Usar?</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>