  <%- include('partials/head.ejs') %>

  <link rel="stylesheet" href="/css/style.css" />
  <title>RimuHub - Seu Visualizador de Informações</title>
</head>

<body>
   <%- include('partials/navbar.ejs') %>

  <main class="container" id="main">
    <section class="hero">
      <div class="hero-badge">Seu hub pessoal de informações</div>
      <h1>Bem-vindo ao RimuHub</h1>
      <p>
        Organize todos os seus links, arquivos, informações e muito mais em um
        só lugar. Feito especialmente para você! <br />
      </p>

      <a href="/help" class="help">Como Funciona?</a>
    </section>
  </main>

  <%- include('partials/footer.ejs') %>