.form-container {
  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  border: 1px solid var(--border);
}

.form-title {
  margin-block: 25px;
  color: var(--text-primary);
  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px 15px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 1rem;
  color: var(--text-primary);
  transition: border-color 0.3s;
  margin-bottom: 15px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--accent);
}

.form-group #new-category {
  margin-top: 10px;
}

.form-group textarea {
  min-height: 120px;
  resize: vertical;
}

.image-preview-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  border: 2px solid var(--border);
}

.image-preview-box {
  width: 300px;
  height: 180px;
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
}

#image-preview{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.alert,
.alert a {
  color: rgb(254, 27, 27);
}

.category-creation-container.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--accent);
  padding: 10px;
  border-radius: 16px;
}

.btn-submit {
  background: var(--gradient);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

.btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 107, 157, 0.3);
}

@media (max-width: 900px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  header .container,
  footer .container,
  .form-title{
    padding-inline: 15px;
  }

  .form-container {
    width: 100% !important;
    padding: 20px;
  }

  .btn-submit {
    width: 100%;
    justify-content: center;
  }
}